body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas:
    "header nav nav"
    "nav main aside"
    "footer footer footer"
    ;
}
h1 { color:white;
    background-color: blue;
    font-family:Ariel, Helvetica, sans-serif;
}

h1 { font-size: 20px
}

p { font-size: 20px
}

li:hover {
    background-color: red;
    cursor: pointer;
}

nav {
    background-color: yellow;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav > ul > li {
    position: relative;
    width: 100%;
}

nav ul ul {
    position: absolute;
    display: none;
    background-color: green;
    width: 100%;
    padding: 0;
}

nav ul ul li:hover {}